*{
  background-color: rgb(197, 255, 214);
}

.navbar{
  background-color: rgb(127, 173, 166) !important;
}
.navbar-brand{
font-size: 1.9rem !important;
color:rgb(129, 48, 16) !important;
}
.navbar a {
font-size: 1.3rem;
text-transform: capitalize;
}
.menu_active{
  font-weight: bold;
  border-bottom: 1px solid rgb(129, 48, 16);
}
.brand-name{
color: crimson;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn-get-started{
  
display:inline-block;
padding:0.3em 1.2em;
margin:0 0.3em 0.3em 0;
border-radius:2em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color:#FFFFFF;
background-color:rgb(133, 120, 62);
text-align:center;
transition: all 0.2s;
}
.btn-get-started:hover{
background-color: crimson;
color: white;
}
@media all and (max-width:30em){
.btn-get-started{
display:block;
margin:0.2em auto;
}
} 


#header{
  width: 100%;
  height: 80vh;
  margin-top: 80px ;
}
#header h1{
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  color: black;
}
#header .brand-name{
  color: crimson;
}
#header h2{
  color:#484848;
  font-size: 24px;
}
#header .btn-get-started{
  font-weight: 500;
  font-size: 16px;

}
#header-img{
  text-align: right;
}

#header .animated{
  animation: up-down 2s ease-in-out infinite alternate both;
}
@-webkit-keyframes up-down{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}
@keyframes up-down{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}